


.Header{
    background-image: url("../../images/header.png");
    background-size: 100% 100%;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    animation-name: fadeInHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.wrapperHeader{
    width: 400px;
    height: 285px;
}

.Name{
    animation-name: fadeInHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

.MyName{
    text-align:center;
}
.MyTitle{
    text-align:center;
}

.bg-myColor {
    background-color: #30548a !important;
}

body {background-color: #CAEBF2;
    animation-name: fadeInBody;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;}


@keyframes fadeInBody {
    0% {
        opacity: 0;
        background-color: #ffffff;
    }
    100% {
        opacity: 1;
        background-color: #30548a;
    }
}

@keyframes fadeInHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tile-group{
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


.tile-container{
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

