


.Header{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align:center;
    animation-name: fadeInHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

.Name{
        animation-name: fadeInHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

.MyName{
    text-align:center;
}
.MyTitle{
    text-align:center;
}

.bg-myColor {
  background-color: #30548a !important;
}

body {background-color: #CAEBF2;
    animation-name: fadeInBody;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;}


@keyframes fadeInBody {
    0% {
        opacity: 0;
        background-color: #ffffff;
    }
    100% {
        opacity: 1;
        background-color: #30548a;
    }
}

@keyframes fadeInHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tile-group{
    margin-left: 0px;
    margin-right: 0px;
}


.tile-container{
    justify-content: center;
}


